/**
 * Leaflet Map Dark theme for reveal.js.
 * Author: Christopher Fricke
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #7fcdbb;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #7fcdbb;
$mainFontSize: 30px;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

section{
  background:rgba(0, 0, 0, .5);
  height:80%;
}

.mapboxgl-ctrl-attrib {
  background:none;
  left:0;
  bottom:5px;

  a{
    font-size:12px !important;
  }
}

.reveal section img{
  border:0;
  background:none;
}

.primaryPicture{
  width:65%
}
.halfPicture{
  width:45%;
}
.quarterPicture{
  width:32.5%
}

.thirdPicture{
  width:20%
}

.box{
  width:160px;
  height:150px;
  padding:30px 20px 20px 20px!important;
  color:#FFF;
  text-align:center;
  display:inline-block;
}
.longbox{
  margin: 10px !important;
  padding:20px !important;
  width:780px;
  display:inline-block;
}
.smallbox{
  width: 100px;
  margin: 10px !important;
  padding:20px !important;
  display:inline-block;
}
.box h1, .longbox h1{
  font-size:25px;
  padding:0;
  margin:0
 }
.box p, .longbox p{
  font-size:16px;
}
.list-table{
  width:70%;
  border:0 !important;
}
.list-table tr{
  border-bottom:0px solid #555 !important;
}
.list-table th{
  width:20%;
  font-size:75%;
  border:0 !important;
  padding:10px 0;
}
.list-table td{
  font-size:75%;
  border:0 !important;
  padding:10px 0 !important;
}